$pink: #fc4ca3;
$green: #20bec6;
$yellow: #feb834;
$red: #d71f3c;
$purple: #7a20c6;
$blue: #204fc6;

.pink{
  border-right-color: $pink !important;
  border-top-color: $pink !important;
}
.green{
  border-right-color: $green !important;
  border-top-color: $green !important;
}
.yellow{
  border-right-color: $yellow !important;
  border-top-color: $yellow !important;
}
.red{
  border-right-color: $red !important;
  border-top-color: $red !important;
}
.purple{
  border-right-color: $purple !important;
  border-top-color: $purple !important;
}
.blue{
  border-right-color: $blue !important;
  border-top-color: $blue !important;
}
