@media (min-width: 1350px) {
    .header {
        #header-lang {
            top: 19px;
            width: 22px;
            height: 22px;
        }
        .lang-box li a:before{
            width: 30px;
            height: 30px;
        }

    }
    
   
}
@media (max-width: 1024px) and (min-width: 0) {
    .header {
        div[role=navigation] {
            display: none;
        }
    }
}