@media (min-width: 1024px) {
    .header {
        .lang {
            top: 19px;
            width: 22px;
            height: 22px;
        }
        .lang-box li a:before{
            width: 30px;
            height: 30px;
        }
        .header-middle {
            display: none;
        }

    }
   
}
@media (max-width: 1024px) and (min-width: 0) {
    .header {
        background: #ce002b;
        opacity: 1;

        .lang {
            top: 12px;
            width: 32px;
            height: 32px;
            border: 2px solid #fff;
            border-radius: 50%;
            margin-right: 0;
        }
        .lang-show {
            top: 16px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 14px 14px 14px;
            border-color: transparent transparent #fff transparent;
            background: transparent;
            margin-top: 6px;
            border-radius: 0;
        }
        

        div[role=navigation], & > a {
            display: none;
        }
        .lang-box {
            width: 100%;
            padding: 0;
            left: 0;
            background: #ce002b;

            &::before {
                display: none;
            }
            & li {
                margin: 0;
                display: block;
                a {
                    line-height: 60px;
                    font-size: 18px;
                    padding: 0 20px 0 10px;
                    color: #fff;
                    width: 100%;
                    border-top: 1px solid rgba(255,255,255,.6);
                    display: block;
                }
            }
            
        }
    }
    .drivenByImpactWhite, .drivenByImpactWhite {
        display: none;
    }
    

}