@media (min-width: 1350px) {
    html {
        font-size: 120%;
    }
}

@media (min-width: 1024px) {
    .header {
        .lang {
            top: 19px;
            width: 22px;
            height: 22px;
        }
        .lang-box li a:before{
            width: 30px;
            height: 30px;
        }
        .header-middle {
            display: none;
        }

    }
   
}
@media (max-width: 1024px) and (min-width: 0) {
    html {
        font-size: 100%;
    }
    .header {
        background: #ce002b;
        opacity: 1;

        .lang {
            top: 12px;
            width: 32px;
            height: 32px;
            border: 2px solid #fff;
            border-radius: 50%;
            margin-right: 0;
        }
        .lang-show {
            top: 16px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 14px 14px 14px;
            border-color: transparent transparent #fff transparent;
            background: transparent;
            margin-top: 6px;
            border-radius: 0;
        }
        

        div[role=navigation], & > a {
            display: none;
        }
        .lang-box {
            width: 100%;
            padding: 0;
            left: 0;
            background: #ce002b;

            &::before {
                display: none;
            }
            & li {
                margin: 0;
                display: block;
                a {
                    line-height: 60px;
                    font-size: 18px;
                    padding: 0 20px 0 10px;
                    color: #fff;
                    width: 100%;
                    border-top: 1px solid rgba(255,255,255,.6);
                    display: block;
                }
            }
            
        }
    }
    .drivenByImpactWhite, .drivenByImpactRed {
        display: none !important;
    }
    .provider {
        .views-row:hover  ul, .views-row:hover .provider-pic{
            display: none !important;
        }
        .provider-mobile-description{
            display: block;
            font-size: 14px;
            font-size: .875rem;
        }
        .provider-gif, .provider-pic{
            display: none !important;
        }
        .provider-middle-image {
            display: block;
        }
        .down {
            display: none;
        }
    }
    .location {
        .views-field-field-location-name{
            display: none;
        }
        .views-row::before {
            font-size: 16px !important;
            font-size: 1rem !important;
            margin-top: -16px !important;
        }
        .views-row:last-child::before{
            font-size: 35px !important;
            font-size: 2.1875rem !important;
            margin-top: -73px !important;
        }
    }
    .office .china-office p{
        padding: 0 !important;
    }
}

@media (max-width: 767px) and (min-width: 0) {
    html {
        font-size: 80%;
    }
    .banner-d-con h1 {
        font-size: 35px;
        font-size: 2.1875rem;
        padding: 15px 0;
    }
    .provider {
        .provider-mobile-description{
            font-size: 16px;
            font-size: 1rem;
            width: 80%;
            margin: 0 auto;
        }
        .views-row {
            width: 100%;
        }
    }
    .custom .views-row {
        width: 100%;
        height: 50vw;
    }
    .innovation {
        .views-row {
            width: 90% !important;
        }
    } 
    .office {
        .view-content {
            width: 100%;
            float: none;
        }
        .china-office {
            width: 94%;
            margin: 20px auto 40px;
            position: static;
            text-align: center;
            transform: translate(0,0);
            -ms-transform: translate(0,0);
            -moz-transform: translate(0,0);
            -webkit-transform: translate(0,0);
            -o-transform: translate(0,0);
        }
    }
    .subscription {
        .box {
            display: block !important;
            width: 80%;
            max-width: 80%;
            min-width: 80%;

            .box-input, .box-btn{
                width: 100%;
            }
            .box-btn {
                margin-left: 0;
                margin-top: 10px;
            }
        }
    }

    .footer {
        margin-bottom: 46px;

        .footer-contactUs{
            display: block;
            background: #fff;

            & > span {
                display: block;
                text-align: center;
                padding-right: 0 !important;
                margin: 20px auto;
            }
            & .icon-group{
                display: block;
                text-align: center;
                border: none;
                
                & > span {
                    background-color: #d1d1d1;
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }
        }
    }

    .location {
        .view-content {

            .views-row:last-child:before {
                margin-left: -27px;
                margin-top: -60px!important;
            }
            .views-row:last-child {
                top: 34%;
            }

        }
        
    }

    .contactUs {
        position: fixed;
        bottom: 0;
        width: 100%;

        .contact-ctn , .small-ctn{
            display: none
        }

        .cs-middle-chat {
            display: block;
        }

    }

    .h-banner {
        .h-mobile-banner {
            display: block;
        }
        .h-pc-banner {
            display: none;
        }
    }
}