@import "./color.scss";
@import "./font.scss";

.header{
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  padding: 0 15px;
  height: 60px;
  border-bottom: 1px solid rgba(244,244,244,.3);
  z-index: 100;
  user-select: none;

  & > div {
    display: inline-block;
  }

  & a img{
    float: left;
    margin: 8px 0;
    width: 80px;
    height: 43px;
  }
  & span img{
    float: left;
    margin: 13px 2px;
    width: 150px;
    height: 33px;
  }

  & ul li {
    display: inline-block;
    height: 100%;
    font-size: 16px;
    margin: 0 10px;
  }
  & > div[role=navigation]{
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    height: 100%;
    margin-right: 10px;
  }
  & > div[role=navigation] a {
    color: #fff;
    opacity: .8;

    &:hover {
      opacity: 1;
    }
  }

  & > div[role=navigation] ul li:nth-child(1) a {
    display: block;
    padding: 0 20px;
    line-height: 40px;
    border-radius: 20px;
    background: #f2b544;
    color: #fff;
    opacity: 1;
    font-weight: 600;
  }


  .lang-box{
    width: 165px;
    display: none;
    padding: 15px 15px 0;
    position: absolute;
    top: 60px;
    right: 20px;
    background: #fff;
    box-shadow: 0 2px 10px -1px #ddd;
    font-size: 14px;
    font-size: .875rem;

    &::before {
      content: ' ';
      width: 22px;
      height: 15px;
      background-image: url("../images/top.png");
      background-repeat: no-repeat;
      background-size: 100%;
      display: block;
      position: absolute;
      top: -15px;
      right: 20px;
    }
    a {
      color: #5c5b5b;
    }
    li {
      margin-bottom: 15px;
    }
    li a::before {
      content: '';
      width: 22px;
      height: 22px;
      background-repeat: no-repeat;
      background-size: 100%;
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;
    }
    .en a::before{
      background-image: url("../images/en.png");
    }
    .zh a::before{
      background-image: url("../images/chinese.png");
    }
    .ja a::before{
      background-image: url("../images/japanese.png");
    }
    .pt a::before{
      background-image: url("../images/pt.png");
    }
    .gl a::before{
      background-image: url("../images/global.png");
    }
  }
  
  .header-middle {
    position: relative;
    display: block;
    & li {
      display: block;
    }
    .toggle-show {
      .icon-bar {
        display: none !important;
      }
      .icon-bar:last-child {
        display: block !important;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 14px 14px 14px;
        border-color: transparent transparent #fff transparent;
        background: transparent;
        margin-top: 6px;
      }
    }
    .header-menu-toggle {
      float: left;
      margin-top: 15px;
      cursor: pointer;

      .icon-bar {
        display: block;
        width: 28px;
        height: 2px;
        border-radius: 1px;
        margin: 6px 0;
        background: #fff;
      }

    }
    .header-middle-logo img{
      position: absolute;
      left: 50%;
      width: 80px;
      height: 43px;
      margin-left: -40px;
    }

    .header-middle-nav {
      background-color: hsl(347, 100%, 40%);
      position: absolute;
      top: 60px;
      left: -15px;
      padding: 0 15px;
      width: 100%;
      display: none;
      overflow: hidden;
      & ul {
        position: relative;
        left: -15px;
        width: 150%;
      }
      & li {
        padding: 0;
        margin: 0;
        a {
          line-height: 60px;
          font-size: 18px;
          padding: 0 20px 0 48px;
          color: #fff;
          display: block;
          border-top: 1px solid rgba(255,255,255,.6);
        }
      }
    }
  }

  

}

.lang-en {
  background-image: url('../images/en.png');
}
.lang-cn {
  background-image: url('../images/chinese.png');
}

.lang {
  position: relative;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  float: right;
  cursor: pointer;
  margin-right: 23px;
}

.drivenByImpactWhite {
  display: inline-block;
}
.drivenByImpactRed {
  display: none;
}

.white-desktop {

  background-color: rgba(255,255,255,.8);
  border-bottom: 1px solid #eee;
  box-shadow: 0 2px 10px -1px #ddd;

  .drivenByImpactWhite {
    display: none;
  }
  .drivenByImpactRed {
    display: inline-block;
  }

  & > div[role=navigation] ul li:nth-child(1) a {
    color: #5b5b5b;
  }

  & > div[role=navigation] ul li a {
    color: #5b5b5b;
  }
}



.banner {
  position: relative;
  width: 100%;
  height: calc(100vh);
  overflow: hidden;

  & > div {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;
  }

  & video {
    width: auto;
    height: 100%;
    object-fit: fill;
  }

  & .banner-board{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    user-select: none;
  }
}

.banner-d-con {
  text-align: center;
}
.banner-d-con h1 {
  font-size: 3rem;
  padding: 15px 0;
}
.banner-d-con p {
  font-size: 1.5rem;
  margin: 24px 0;
  line-height: 1.5
}
.banner-scroll {
  position: absolute;
  display: block;
  bottom: 30px;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 80px;
  opacity: .6;
  background: url("../images/sprites-image.png") -5px -35px;
  background-size: 40px auto;
  cursor: pointer;
}

.banner-scroll:hover {
  opacity: 1;
}

.h-des{
  margin: 0 144px 30px 144px;
  text-align: center;
}
.h-title {
  font-size: 35px;
  color: #4d4c4c;
  line-height: 1.5;
  padding: 15px 0;
  font-weight: bold;
}

.h-ctx {
  font-size: 16px;
  color: #5c5b5b;
  line-height: 1.5;
}


// provider
.provider {

  margin-top: 60px;

  & > div:nth-child(2) {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 60px;
  }

  & .views-row {
    position: relative;
    display: inline-block;
    width: 23%;
    margin: 2% 0 2% 1%;
    text-align: center;
    cursor: pointer;

    & .provider-pic {
      display: none;
    }

    & ul {
      position: absolute;
      display: none;
      left: 50%;
      top: 0;
      border: 1px solid #d71f3c;
      padding: 8px 12px;
      border-radius: 5px;
      width: 120px;
      margin-left: 57px;
      background: #fff;
      text-align: left;
      z-index: 9999;

      &:before {
        position: absolute;
        content: ' ';
        display: inline-block;
        top: 35px;
        left: -6px;
        border-top: 5px solid white;
        border-right: 5px solid #d71f3c;
        border-bottom: 5px solid white;
      }

      &:after {
        position: absolute;
        content: ' ';
        display: inline-block;
        left: -3px;
        top: 37px;
        border-top: 3px solid #d71f3c;
        border-right: 3px solid white;
        border-bottom: 3px solid #d71f3c;
      }
    }

    & ul li {
      position: relative;
      display: list-item ;
      //padding-left: 10px;
      line-height: 1.5;
      color: #d71f3c;
      font-size: 12px;
      text-align: -webkit-match-parent;
    }
    & ul li:before{
      margin-right: 4px;
      position: relative;
      top: -2px;
      content: ' ';
      display: inline-block;
      width: 4px;
      height: 4px;
      border-radius: 2px;
      background: #d71f3c;
    }

    &:hover .provider-pic {
      display: inline-block !important;
    }

    &:hover  ul{
      display: inline-block;
    }

    &:hover .provider-gif {
      display: none !important;
    }

  }

  & .views-row:nth-child(4n){
    margin-right: 1%;
  }

  & .text {
    color: #5c5b5b;
    line-height: 1.5;
  }

}

// custom
.custom {
  padding-top: 60px;
  background: #f8f8f8;

  & > div:nth-child(2) {
    width: 90%;
    margin: 0 auto 0;
    padding-bottom: 60px;
    text-align: center;
  }
  .views-row{
    position: relative;
    display: inline-block;
    width: 23%;
    height: 150px;
    margin: 2% 0 2% 1%;
    text-align: center;
    background: #fff;
    overflow: hidden;

    &:hover .custom-item-hoverImg, &:hover .custom-item-hoverImg{
      display: block;
    }
    &:hover .views-field-field-custom-item-value{
      display: flex;
    }

    .custom-item-logo img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 80%;
      height: auto;
    }

    .custom-item-hoverImg {
      display: none;
    }
    .custom-item-hoverImg img{
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
    }

    .views-field-field-custom-item-value{
      position: absolute;
      display: none;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      color: #fff;

      & p:first-child {
        font-size: 20px;
        font-weight: bold;
      }
      & p:last-child{
        margin: 5px 0;
        line-height: 1.2;
        font-size: 14px;
        font-weight: normal;
      }
    }

    .views-field-field-custom-topright-color {
      display: none;
    }

    .custom-item-link{
      width: 100%;
      height: 100%;
    }
    .custom-item-link a{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

  }

  .views-row:nth-child(4n){
    margin-right: 1%;
  }

}

.trangle{
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 18px solid transparent;

  .arrow{
    position: absolute;
    display: block;
    top: -19px;
    right: -19px;
    width: 20px;
    height: 20px;
    background: url("../images/sprites-image.png") 0px -146px;
    background-size: 40px 168px;
  }
}

.innovation {
  padding-top: 60px;

  & > div:nth-child(2) {
    background: #dc2744;
  }

  .innovation-con {
    max-width: calc(1920px - 8%);
    width: 80%;
    padding: 50px 0 20px;
    margin: 0 auto;

    .views-row {
      display: inline-block;
      position: relative;
      vertical-align: top;
      text-align: center;

      &:nth-child(1) {
        width: 33%;
        margin-left: 0;
        margin-top: 50px;

        span:first-child {
          top: 10%;
          width: 30%;
          left: 2%;
        }
        span:nth-child(2) {
          top: 1%;
          width: 22%;
          left: 27%;
        }
        span:nth-child(3) {
          top: -11%;
          width: 34%;
          left: 47%;
        }
        span:nth-child(4) {
          top: 15%;
          left: 71%;
          width: 28%;
        }
        span:nth-child(5) {
          top: 45%;
          left: 72%;
          width: 23%;
        }
      }
      &:nth-child(2) {
        width: 42%;
        margin-top: 100px;
        margin-left: -4%;

        span:first-child {
          top: 29%;
          width: 23%;
          left: 4%;
        }
        span:nth-child(2) {
          top: 3%;
          width: 27%;
          left: 13%;
        }
        span:nth-child(3) {
          top: -3%;
          width: 21%;
          left: 40%;
        }
        span:nth-child(4) {
          top: 1%;
          left: 58%;
          width: 30%;
        }
        span:nth-child(5) {
          top: 29%;
          left: 74%;
          width: 24%;
        }

      }
      &:nth-child(3) {
        width: 33%;
        margin-top: 55px;
        margin-left: -6%;

        span:first-child {
          top: 10%;
          width: 30%;
          left: 2%;
        }
        span:nth-child(2) {
          top: 1%;
          width: 22%;
          left: 27%;
        }
        span:nth-child(3) {
          top: -11%;
          width: 34%;
          left: 47%;
        }
        span:nth-child(4) {
          top: 15%;
          left: 71%;
          width: 28%;
        }
        span:nth-child(5) {
          top: 45%;
          left: 72%;
          width: 23%;
        }

      }
      &:nth-child(4) {
        width: 35%;
        margin-top: -16%;
        margin-left: 8%;

        span:first-child {
          top: 25%;
          width: 36%;
          left: -9%;
        }
        span:nth-child(2) {
          top: 7%;
          width: 24%;
          left: 15%;
        }
        span:nth-child(3) {
          top: -2%;
          width: 24%;
          left: 36%;
        }
        span:nth-child(4) {
          top: -1%;
          left: 58%;
          width: 30%;
        }
        span:nth-child(5) {
          top: 26%;
          left: 73%;
          width: 26%;
        }
      }
      &:nth-child(5) {
        width: 48%;
        margin-left: 8%;
        margin-top: -20%;

        span:first-child {
          top: 41%;
          width: 15%;
          left: 0;
        }
        span:nth-child(2) {
          top: 46%;
          width: 21%;
          left: 14.5%;
        }
        span:nth-child(3) {
          top: 12%;
          width: 26%;
          left: 15%;
        }
        span:nth-child(4) {
          top: 15%;
          left: 59%;
          width: 19%;
        }
        span:nth-child(5) {
          top: 37%;
          left: 65%;
          width: 23%;
        }

        .views-field-field-innovation-title {
          width: 33%;
          padding-bottom: 33%;
        }
      }
      
      img {
        width: 100%;
        height: 100%;
      }

      .views-field-field-innovation-title{
        background-color: #fff;
        margin: 20% auto;
        padding-bottom: 50%;
        width: 50%;
        height: 0;
        border-radius: 50%;
        position: relative;
        text-align: center;

        .field-content {
          font-weight: bold;
          color: #d71f3c;
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100%;
          font-size: 20px;
          font-size: 1.25rem;
          transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
          -moz-transform: translate(-50%,-50%);
          -webkit-transform: translate(-50%,-50%);
          -o-transform: translate(-50%,-50%);
        }
      }

      .innovation-image {
        position: absolute;
      }
    }
  }
}

.location {
  margin-top: 60px;
  text-align: center;

  .location-container {
    max-width: 85%;
    margin: 0 auto 30px;
    display: inline-block;
    position: relative;
  }
  .map img{
    max-width: 100%;
    height: auto;
    border: 0;
  }
  .view-content{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    
    .view-ctn {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
    }
    .views-row {
      position: absolute;
      color: #ea2c4b;

      &::before {
        font-family: "iconfont";
        content: '\e78d';
        display: inline-block;
        color: #ea2c4b;
        position: absolute;
        margin-top: -32px;
        font-size: 32px;
        font-size: 2rem;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }

      &:last-child > span {
        display: block;
        text-align: left;
        line-height: 1.5;
      }

      .views-field-field-location-name{
        position: relative;
        top: -20px;
        font-size: 14px;
        font-size: .875rem;
      }
      &:nth-child(-n+4) .views-field-field-location-name {
        left: -105%;
      }
      &:not(:nth-child(-n+4)) .views-field-field-location-name {
        right: -30px;
    }
      &:last-child:before {
        font-size: 50px;
        font-size: 3.125rem;
        margin-top: -80px;
        margin-left: -35px;
      }
      &:last-child{
        margin-left: -45px;
        margin-top: 50px;
        background-color: #ea2c4b;
        padding: 10px;
        border-radius: 10px;
        color: #fff;
        font-size: 12px;
        font-size: .75rem;
      }
      &:last-child:after {
        content: ' 1';
        display: inline-block;
        width: 0;
        height: 0;
        position: absolute;
        border-left: 11px solid transparent;
        border-bottom: 15px solid #ea2c4b;
        border-right: 5px solid transparent;
        top: -15px;
        left: 40px;
        color: transparent;
      }
      &:last-child .views-field-field-location-name {
        position: static;
      }
      &:nth-child(1){
        left: 25%;
        top: 45%;
      }
      &:nth-child(2){
        left: 33%;
        top: 69%;
      }
      &:nth-child(3){
        left: 33%;
        top: 72%;
      }
      &:nth-child(4){
        left: 45%;
        top: 33.5%;
      }
      &:nth-child(5){
        left: 35%;
        top: 67%;
      }
      &:nth-child(6){
        left: 35%;
        top: 70.5%;
      }
      &:nth-child(7){
        left: 82.2%;
        top: 43%;
      }
      &:nth-child(8){
        left: 29%;
        top: 35%;
      }
      &:nth-child(9){
        left: 27%;
        top: 41%;
      }
      &:nth-child(10){
        left: 75.7%;
        top: 45%;
      }
    }
  }
}

.footer{
  background: #f8f8f8;

  .footer-contactUs {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #191919;
    padding: 15px 0;
    position: relative;
    color: #626260;
  }
  .footer-contactUs > span{
    font-weight: bold;
    font-size: 20px;
    font-size: 1.25rem;
    padding-right: 40px;
  }

  .icon-group {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    border-left: 1px solid #2b2b2a;
}
  .icon {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 40px;
    cursor: pointer;
  }
  .weChat{
    background: #41413e url("../images/icon-wechat.png") no-repeat 10px 10px;
    background-size: 20px;
  }
  .in {
    background: #41413e url("../images/icon-in.png") no-repeat 10px 10px;
    background-size: 20px;
  }
  .weibo{
    background: #41413e url("../images/icon-weibo.png") no-repeat 10px 10px;
    background-size: 20px;
  }
  .footer-info{
    font-size: 12px;
    text-align: center;
    line-height: 1.5;
    color: #5c5b5b;
    margin: 12px 0;
  }
  .footer-info a {
    color: #5c5b5b;
    text-decoration: underline;
  }
}


.office {
  overflow: hidden;
  position: relative;
  background-color: #222;
  margin-bottom: 60px;

  .view-content {
    width: 50%;
    float: left;
    position: relative;
  }

  .china-office {
    width: 40%;
    margin: 0 auto;
    position: absolute;
    transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    left: 55%;
    top: 50%;
    color: #a29f9f;

    a, li {
      line-height: 1.5;
    }
    p {
      line-height: 1.5;
      color: #5c5b5b;
      font-size: 14px;
      font-size: .875rem;
    }
  }
  .swiper-container, .swiper-wrapper {
    width: 100%;
  }
  .swiper-slide img {
      width: 100%;
      height: auto;
  }

  h2{
    color: #fff;
    font-size: 25px;
    font-size: 1.5625rem;
  }
  .button-prev, .button-next{
    position: absolute;
    top: 50%;
    right: 30px;
    width: 40px;
    height: 40px;
    background: #fff;
    z-index: 50;
    border-radius: 20px;
    cursor: pointer;
  }
  .button-prev::before, .button-next::before {
    font-family: "iconfont";
    position: absolute;
    top: 12px;
    left: 12px;
    width: 20px;
    height: 20px;
    content: '\e605';
    color: #afaeae;
    font-weight: bold;
  }
  .button-next::before {
    content: '\e60f';
  }
  .button-prev {
    margin-top: -30px;
  }
  .button-next {
    margin-top: 30px;
  }

  .location-url {
    margin-top: 10px;
    a {
      background-image: url("../images/map.png");
      background-repeat: no-repeat;
      background-size: contain;
      color: #a29f9f;
      padding-left: 26px;
      padding-top: 2px;
      font-size: 14px;
      font-size: .875rem;
      opacity: .8;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.subscription {
  .title {
    text-align: center;
    color: #ec1940;
    font-size: 32px;
    font-size: 2rem;
    margin: 0;
    line-height: 1.5;
    padding: 15px 0;
    font-weight: bold;
  }
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-width: 580px;
    margin: 20px auto;
    min-width: 500px;
    padding-bottom: 80px;

    .box-input {
      max-width: 100%;
      width: 61%;
      border: 2px solid #ccc;
      border-radius: 0;
      line-height: 49px;
      height: 49px;
      font-size: .875rem;
      text-indent: 10px;
      box-sizing: border-box !important;
      padding: 0;

      &:focus{
        box-shadow: 0 0 5px #ccc;
      }
    }
    .box-btn {
      background: #ec1940;
      color: #fff;
      border: 2px solid #ec1940 !important;
      border-radius: 0;
      text-shadow: none;
      box-shadow: none !important;
      width: 38%;
      margin-left: 1%;
      height: 49px;
      line-height: 49px;
      font-size: 18px;
      padding: 0;
      transition: .25s;
      box-sizing: border-box !important;
      cursor: pointer;

      &:hover {
        background: #fff;
        color: #ec1940;
      }
    }
  }
}


